<div class="ekart--product--container">
    <!-- <img [src]="product.pImage" alt="">
    <p>name : {{ product.name }}</p>
    <p>price : {{'$' + product.price }}</p>
    <p>color : {{ product.color }}</p>
    <p>discounted price : {{'$'+ (getDiscountedPrice().toFixed(2))}} </p>
    <p>{{product.inStock > 0 ? 'only ' + product.inStock + ' items left ':'not in stock'}}</p>
    <button [disabled]="!(product.inStock>0)">buy now</button>
    <button (click)="onValueChange($event)" [disabled]="product.inStock==addToCart">+</button>
    <span>{{ addToCart }}</span>
    <button (click)="onValueChange($event)" [disabled]="!(addToCart>0)">-</button> -->
    <!-- <input (input)="onNameCharge($event)">
    <br>
    <p>name={{name}}</p>    -->
    <app-search (searchTextChange)="setSearchText($event)"></app-search>
    <!-- <div *ngFor="let item of listOfString">
        <p>current elem:{{item}}</p>
    </div> -->
    <product-list [searchText]="searchText" #productListComponent></product-list>
    <product-detail *ngIf="productListComponent.selectedProduct"></product-detail>
</div>

<!-- disabled,hidden,checked -->